<div class="menu-sidebar2__content js-scrollbar1">
    <div class="account2">
        <div class="image img-cir img-120">
            <img src="~/Content/images/icon/avatar-big-01.jpg" alt="John Doe" />
        </div>
        <h4 class="name">@Html.Name(User.Identity.Name)</h4>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-link">Sign out</button>
            }
        }
    </div>
    <nav class="navbar-sidebar2">
        <ul class="list-unstyled navbar__list">
            <li class="active has-sub">
                <a class="js-arrow" href="#">
                    <i class="fas fa-tachometer-alt"></i>Dashboard
                    <span class="arrow">
                        <i class="fas fa-angle-down"></i>
                    </span>
                </a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li>
                        <a href="#">
                            <i class="fas fa-tachometer-alt"></i>Dashboard 1
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-chart-bar"></i>Inbox
                </a>
                <span class="inbox-num">3</span>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-shopping-basket"></i>eCommerce
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="zmdi zmdi-settings"></i>Administration menu
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a class="pt-1 pb-1" href="@Url.Action("Management", "Language")">
                                <i class="zmdi zmdi-minus"></i>Languages
                            </a>
                        </li>
                        <li>
                            <a class="pt-1 pb-1" href="@Url.Action("Management", "QueueType")">
                                <i class="zmdi zmdi-minus"></i>Queue types
                            </a>
                        </li>
                        <li>
                            <a class="pt-1 pb-1" href="@Url.Action("Management", "TeamType")">
                                <i class="zmdi zmdi-minus"></i>Team types
                            </a>
                        </li>
                        <li>
                            <a class="pt-1 pb-1" href="@Url.Action("Management", "Position")">
                                <i class="zmdi zmdi-minus"></i>Positions
                            </a>
                        </li>
                        <li>
                            <a class="pt-1 pb-1" href="@Url.Action("Management", "Region")">
                                <i class="zmdi zmdi-minus"></i>Regions
                            </a>
                        </li>
                        <li>
                            <a class="pt-1 pb-1" href="@Url.Action("Management", "Image")">
                                <i class="zmdi zmdi-minus"></i>Images
                            </a>
                        </li>
                        <li>
                            <a class="pt-1 pb-1" href="@Url.Action("Management", "League")">
                                <i class="zmdi zmdi-minus"></i>Leagues
                            </a>
                        </li>
                        <li>
                            <a class="pt-1 pb-1" href="@Url.Action("Management", "Champion")">
                                <i class="zmdi zmdi-minus"></i>Champions
                            </a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </nav>

    <div class="copyright fixed-bottom border-top">
        <p>Copyright © 2019 Damian Dziura. All rights reserved. Template modified by <a href="https://DamianDziura.pl">Damian Dziura</a>.</p>
        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
    </div>
</div>



